* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #141B41;
}

.header {
    width: 100%;
}

.nav {
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-logo {
    height: 60px;
    width: auto;
}

.contenedor {
    min-height: 80vh;
    width: 100%;
}

.contenedor100 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor70 {
    width: 70%;
    display: flex;
    justify-content: center;
}

.formulario {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: end;
    margin: 2rem 0;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    color: white;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.campo-label {
    font-size: 1rem;
    font-weight: 400;
}

.boton-filtros {
    padding: 0.3rem 0.5rem;
    background-color: cornflowerblue;
    border-color: rgb(80, 126, 210);
    border-radius: 5px;
    color: white;
}

.videojuegos-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.videojuegos-lista {
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    padding: 0 1rem;
}

.card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 4rem;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.15s ease;
}

.card:hover {
    transform: scale(110%);
}

.card-contenido {
    padding: 20px;
    background-color: white;
}

.imagen-juego {
    width: 300px;
    border-radius: 5px 5px 0 0;
    z-index: -1;
}

.titulo-juego {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.lista-encabezados {
    list-style: none;
}

.encabezado-juego {
    margin-bottom: .8em;
    font-size: .8rem;
}

.footer {
    height: 5vh;
    background-color: blueviolet;
    padding: 1rem 0;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    color: white;
}

.form-agregar-juego {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.campo-juego {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.campo-juego-label {
    margin-bottom: .5rem;
}

.campo-juego-input {
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding-left: .5rem;
}

.boton-juego {
    padding: .8rem 1.4rem;
    font-weight: 400;
    color: white;
    background-color: cornflowerblue;
    border-color: rgb(78, 125, 212);
    border-radius: 5px;
}

.contenedor-error {
    margin-top: .5rem;
    min-height: 1.2rem;
    /* background-color: red; */
}

.span-error {
    color: rgb(242, 49, 49);
}