.contenedor-FormAdd {
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.contenedor-FormAdd__titulo {
  display: inline;
  font-size: 2rem;
}

.contenedor-FormAdd hr {
  width: 100%;
  border-color: rgba(255, 255, 255, 0.2);
}

.contenedor-FormAdd__formulario {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.formulario__input {
  border: none;
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  padding-left: 20px;
  width: 80%;
}

.formulario__btn {
  width: 20%;
  font-size: 1rem;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.alert {
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  color: #616161;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert.success {
  background-color: #c8e6c9;
  border-color: #81c784;
  color: #388e3c;
}

.alert.error {
  background-color: #ffcdd2;
  border-color: #e57373;
  color: #d32f2f;
}
