.app-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 1vmin); */
  color: white;
}

.centerDashboard {
  margin-top: 80px;
}
