/* ESTILOS HEADER */
.imagen-logo {
  height: 60px;
  width: auto;
}

.header {
  background-color: #212121;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.centerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  margin: 15px;
}

.centerHeader h1 {
  font-size: calc(1rem + 1.2vmin);
  font-weight: 700;
  color: cornflowerblue;
}

.navbar-lista {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}

.centerHeader a {
  font-size: calc(1rem + 0.5vmin);
  color: white;
  text-decoration: none;
}

.centerHeader a:hover,
.centerHeader a:active,
.centerHeader a.active {
  color: cornflowerblue;
  border-bottom: 3px solid cornflowerblue;
}

.separador {
  border-top: 25px solid #ccc;
  margin: 10px;
}

/*  */

.main-btn {
  /* font-size:1.1rem; */
  background-color: #fb3640;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.centrarBtn {
  width: 40%;
  display: flex;
  justify-content: center;
}

.width30 {
  width: 30%;
}
/* Delete Button  */

.btnDelete {
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 50%;
  box-shadow: none;
  border: 0;
  margin-right: 7px;
}

.btnDelete:hover {
  background-color: cornflowerblue;
  color: white;
}

/* Edit button */

.btnEdit {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.btnEdit:hover {
  background-color: cornflowerblue;
  color: white;
}

/* Add button */

.btnAdd {
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: 0;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.btnAdd:hover {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}

.btn-AddMargin {
  margin-right: 5px;
}
