.contenedor-formEdit{
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.contenedor-formEdit__titulo {
    display: inline;
    font-size: 2rem;
}

.contenedor-formEdit hr{
    width: 100%;
    border-color: rgba(255, 255, 255, 0.2);
}

.contenedor-formEdit__formulario {
    width: 50%;
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.formulario__input {
    border: none;
    font-size: 1rem;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    padding-left: 20px;
    width: 80%;
}

.formulario__btn {
    width: 20%;
    font-size: 1rem;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    cursor:pointer;
}