.btn-nuevo {
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: 0;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.btn-nuevo:hover {
    border-color: cornflowerblue;
    background-color: cornflowerblue;
}

.btn-nuevo__icono {
    margin-right: 5px;
}